/* Tambahkan gaya kustom di sini */
body {
    padding-top: 50px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 50px;
}

/* Tambahkan gaya lainnya sesuai kebutuhan Anda */
